.container {
	display: flex;
	align-items: center;
	gap: 10px;
}

canvas {
	border: 1px solid;
}

#circle {
	width: 100px;
	height: 100px;
	position: absolute;
	pointer-events: none;
	border: 1px dashed;
	border-radius: 50%;
}
